TASK_MODEL="gpt-4o-mini"
TRANSLATION_MODEL="gpt-4o-mini"

OPENAI_API_KEY="sk-n" # replace with your openai api key
OPENAI_API_URL="https://api.openai.com/v1" # replace with yours
OPENAI_TIMEOUT="300"

ASS_STYLE=""  # Format: Name,Fontname,Fontsize,PrimaryColour,SecondaryColour,TertiaryColour,BackColour,Bold,Italic,Underline,StrikeOut,ScaleX,ScaleY,Spacing,Angle,BorderStyle,Outline,Shadow,Alignment,MarginL,MarginR,MarginV,AlphaLevel,Encoding
